body{
    background-color: black;
}
#header1{
    color:orange;
    text-align:center;
    border:100%;
    border-color:orange;
    border-style:solid
}
label{
    color:orange;
    display: inline;
}